flask
python-dotenv
mysql-connector-python
PyJWT
openai
flask-cors
google-generativeai
replicate
langchain
pypdf
langchain-text-splitters
langchain-community
faiss-cpu
langchain-openai
tiktoken
sentence-transformers